.App {
  text-align: center;
  padding: 0px 20px;
  height: 100%;
  background-color: #193D4B;
  color: white;
  accent-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 44px;
}

input.stay-days {
  width: 100%;
  height: 44px;
}

.dark-theme {
  color: #000;
}

.bar-chart .tooltip-box {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  bottom: 100%;
  right: -100px;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.bar-chart:hover .tooltip-box {
  visibility: visible;
}

.bar-chart .tooltip-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.filter .tooltip-box {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  left: 50px;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;

}

.filter:hover .tooltip-box {
  visibility: visible;
}

.filter .tooltip-box::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.nav-link {
  color: #fff !important;
}

.nav-link.active {
  background-color: #0d6efd !important;
  border: none !important;
}

.preset-badge {
  background-color: #6c757d;
  width: 100%;
  color: #fff;
  border-radius: 50rem;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 0.35em 0.15em;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}